[user]
	email = 63792136+Pjiwm@users.noreply.github.com
	name = Pjiwm
[http]
	postBuffer = 524288000
[init]
	defaultBranch = main
[core]
	pager = less -FRX
[alias]
	subrecurse = submodule update --init --recursive
    subrepull = submodule update --recursive --remote
    leasepush = push --force-with-lease
    uncommit = reset --mixed HEAD~1

